<html>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link rel="icon" type="image/png" href="pictures/favicon.ico" />
	<head>
		<title>FastTrip.com - Passagers</title>
	</head>
	<body>
		<h1>Liste des passagers de FastTrip.com</h1>
		<table class="menu">
			<tr>
				<td class="menu_cell">
					<a href="aircrafts.php">Appareils</a>
				</td>
				<td class="menu_cell">
					<a href="airports.php">Aéroports</a>
				</td>
				<td class="menu_cell">
					<a href="flies.php">Vols</a>
				</td>
				<td class="menu_cell">
					<a href="departures.php">Départs</a>
				</td>
				<td class="menu_cell">
					<a href="passengers.php">Passagers</a>
				</td>
				<td class="menu_cell">
					<a href="employees.php">Personnels</a>
				</td>
				<td class="menu_cell">
					<a href="home.php">Deconnexion</a>
				</td>
			</tr>
		</table>
		<table class="classic_tab">
			<tr>
				<th>Numéro de passager</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Adresse</th>
				<th>Vols reservés</th>
			</tr>
			<!-- BEGIN passager -->
				<tr  style="background-color:{passager.color}">
					<td>{passager.num_passager}</td>
					<td>{passager.nom}</td>
					<td>{passager.prenom}</td>
					<td>{passager.adresse}</td>
					<td><a href ='sum_up_departures_admin.php?num_passenger={passager.num_passager}'><img width="30px" height="30px" src="Pictures/flight.png"></a></td>
				</tr>
			<!-- END passager -->
		</table>
	</body>
<html>